.main-sidebar {
  background-color: #86ca11 !important;
}
.jumbotron {
  background-color: #86ca11 !important;
}
.content-header {
  background: #86ca11 !important;
}
.content-header > h1 i.fa, .content-header > h1 i.ion {
  color: #f4e22a;
}
.jumbotron h1 {
  color: #4b3b21 !important;
}
.user-panel > .image.pull-left {
    width: 180px;
    height: 84px;
    border-radius: 0;
}
.sidebar a {
  color: #4b3b21 !important;
}
.sidebar-menu > li.active a {
  color: #FFF !important;
}
.sidebar-menu li.divider-bottom {
  border-bottom: 1px solid rgba(255,255,255,.1) !important;
}