.main-sidebar {
  background-color: #F1E0B4 !important;
}
.jumbotron {
  background-color: #F1E0B4 !important;
}
.content-header {
  background: #F1E0B4 !important;
}
.content-header > h1 i.fa, .content-header > h1 i.ion {
  color: #EF530F !important;
}
.jumbotron h1 {
  color: #52361b !important;
}
.user-panel > .image.pull-left {
    width: 180px;
    height: 84px;
    border-radius: 0;
}
.sidebar a {
  color: #52361b !important;
}

.sidebar-menu > li.active a {
  color: #C0C0C0 !important;
}

.sidebar-menu li.divider-top {
    border-top: 1px solid #52361b !important;
}

.sidebar-menu li.divider-bottom {
    border-bottom: 1px solid #52361b !important;
}
